<a href="/Demo/login">Login</a><br />
<a href="/Demo/SendNotif">Send notification</a>                           <br />
<a href="/Demo/GetNotifInfo">Get notification info</a>          <br />
<a href="/Demo/Applications">Applications</a>                   <br />
<a href="/Demo/Users">Users</a>                                 <br />
<a href="/Demo/Templates">Templates</a> <br />
<a href="/Demo/ScheduledNotifSender">Scheduled notification sender</a> <br />
